<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"
>

	<display-name>vega-approach-2</display-name>

	<listener>
		<listener-class>org.gmnz.vega.web.StartupListener</listener-class>
	</listener>

	<filter>
		<description>Imposta la codifica della richiesta alla codifica specificata (usando UTF-8 si evitano problemi con le lettere accentate ed altri caratteri speciali)</description>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>org.gmnz.vega.ui.web.EncodingFilter</filter-class>
		<init-param>
			<description>al momento non utilizzato</description>
			<param-name>defaultEncoding</param-name>
			<param-value>8859_1</param-value>
		</init-param>
		<init-param>
			<param-name>targetEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/vegaDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	<context-param>
		<param-name>jndi-datasource</param-name>
		<param-value>jdbc/vegaDS</param-value>
	</context-param>


	<welcome-file-list>
		<!-- <welcome-file>index.jsp</welcome-file> -->
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>


	<error-page>
		<location>/WEB-INF/jsp/showError.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>VegaFrontController</servlet-name>
		<servlet-class>org.gmnz.vega.web.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VegaFrontController</servlet-name>
		<url-pattern>/app/category/*</url-pattern>
		<url-pattern>/app/allergen/*</url-pattern>
		<url-pattern>/app/report/*</url-pattern>
	</servlet-mapping>


<!--
	<servlet>
		<servlet-name>CategoryController</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.category.CategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/app/category/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CategoryExecution</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.category.CategoryExecution</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryExecution</servlet-name>
		<url-pattern>/app/category/do/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AllergenController</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.allergen.AllergenController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllergenController</servlet-name>
		<url-pattern>/app/allergen/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AllergenExecution</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.allergen.AllergenExecution</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllergenExecution</servlet-name>
		<url-pattern>/app/allergen/do/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ReportControllerServlet</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.report.ReportController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerServlet</servlet-name>
		<url-pattern>/app/report/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ReportExecutionServlet</servlet-name>
		<servlet-class>org.gmnz.vega.ui.web.report.ReportExecution</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportExecutionServlet</servlet-name>
		<url-pattern>/app/report/do/*</url-pattern>
	</servlet-mapping>

-->

	<!-- sicurezza -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>application-content</web-resource-name>
			<url-pattern>/app/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>v-user</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- == sicurezza -->
</web-app>
